#root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* #ask-ai-button {
  background: linear-gradient(0.5turn, rgb(180,148,222), rgb(227,157,187));
} */
